
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Lobster&family=McLaren&family=Roboto&display=swap');

html{
   
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
     padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color: #FF4343;
}
  .header{
    border-bottom: solid 1px black;
    background-color: #1A3365;
    box-shadow:0 1px 2px rgba(0,0,0,0.16);
    height : 45px;
    width: 100%;

    h1{
        color: #FF4343;
        margin-left: 16px;
    }

    img{
        width: 29px;
    }

    nav{
        height: 100%;
        max-width: 922px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

.content{
    display:flex;
    max-width: 922px;
    margin: auto;
}

.sidebar{
    user-select: none;
    width: 266px;
    height: 100vh;
    padding-top: 80px;
    border-right: 1px solid #1A3365;
    background-color: #FF4343;

    div{
        margin-bottom: 11px;
        cursor: pointer;
        padding: 17px;
        &.active{
            background-color: #FFBB00;
        }
    }
}
.icon{
    margin-right: 11px;
}
.task{
    background-color: #FFBB00;
    height: 100vh;
    width: 60%;
    padding:74px 20px 0px;

    .add-task-btn{
        cursor: pointer;
    
    .plus{
        color: #1A3365;
        font-size: 20px;
    }
    .add-task-text{
        color: #1A3365;
        font-weight: bold;
        font-size: 15px;
        margin-left: 14px;
    }
 }
    .add-task-dialog{
        margin-top: 11px;

        input{
            width: 100%;
            border: 1px solid #1A3365;
            background-color: white;
            border-radius: 4px;
            border: 2px solid #db4313;
            height: 36px;
            padding-left: 12px;
            padding-right: 12px;
        }
        .add-task-actions-container{
            margin-top: 10px;
            display: flex;
            justify-content:space-between;

            .add-btn{
                background-color: #db4313;
                color: white;
                border: 1px solid transparent;
                margin-right: 5px;
                font-weight: bold;
                font-size: 14px;
                padding: 8px 14px 7px 14px;
                border-radius: 3px !important;

                &:disabled{
                    background-color: gray;
                }
                &:active{
                    transform: scale(0.9);
                }
            }
            .cancel-btn{
                all:unset;
                color: #1A3365;
                cursor: pointer;
                font-size: 15px;
                font-weight: bold;
                margin: 0px 7px;
            }
        }
        
    }
    .task-items-container{
        margin-top: 40px;
        padding: 0 20px;

        .task-items{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #FF4343;
        }
    }

}

